.scrolly {
    display: flex;
    max-width: 60rem;
    margin: 3rem auto;
    padding: 1rem;
}

.scrolly > * {
    flex: 1;
}

.scrolly .left {
    padding-right: 1rem;
    max-width: 30rem;
}

.scrolly .step {
    border: solid red;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 67vh;
    margin-bottom: 50rem;
    background-color: #5b5b5b;
    transition: background-color 250ms ease-in-out; */
}

.scrolly .step .content {
    border: solid blue;
    width: 100%;
    min-height: 67vh;
    /* margin-bottom: 50rem; */
    background-color: #5b5b5b;
    transition: background-color 250ms ease-in-out;
}

.scrolly .step:last-of-type {
    margin-bottom: 0;
}

.scrolly .step:active {
    background-color: teal;
}

.scrolly .right {
    position: sticky;
    width: 100%;
    height: 50vh;
    background: #969696;
    margin: 0;
    top: 25vh;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#aboutMedia {
    transition: background-image 500ms ease-in-out;
}

/* #aboutMedia.start-anim {
    animation: mediaChange 1s;
} */

/* .bar-outer {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    height: 4rem;
    background-color: #fff;
}

.bar-inner {
    width: 10%;
    height: 100%;
    transition: width 1s ease-in-out;
    background-color: goldenrod;
}

@keyframes mediaChange {
    0% {
        opacity: 100;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
} */