.scrolly {
    display: flex;
    max-width: 60rem;
    margin: 3rem auto;
    background-color: #f4f4f4;
    padding: 1rem;
}

.scrolly > * {
    flex: 1;
}

.scrolly .left {
    padding-right: 1rem;
    max-width: 30rem;
}

.scrolly .step {
    min-height: 67vh;
    margin-bottom: 1rem;
    background-color: #5b5b5b;
    transition: background-color 250ms ease-in-out;
}

.scrolly .step:last-of-type {
    margin-bottom: 0;
}

.scrolly .step:active {
    background-color: teal;
}

.scrolly .right {
    position: sticky;
    width: 100%;
    height: 50vh;
    background: #969696;
    margin: 0;
    top: 25vh;
    left: 0;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.bar-outer {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 90%;
    height: 4rem;
    background-color: #fff;
}

.bar-inner {
    width: 10%;
    height: 100%;
    transition: width 1s ease-in-out;
    background-color: goldenrod;
}