.contact-title {
    /* -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease; */
    transition:
        font-size 1500ms ease 800ms,
        translate 1500ms ease 800ms;
    /* transition-delay: 600ms; */
}

.contact-title.is-visible {
    font-size: 2.5rem;
    translate: 0 -800%;
}

.social-button {
    opacity: 0;
    translate: 0 100px;
}

.social-button.is-visible {
    opacity: 100;
    translate: 0 0;
}

.social-button:nth-child(1):hover .icon {
    background: #0072b1;
}

.social-button:nth-child(2):hover .icon {
    background: #4267b2;
}

.social-button:nth-child(3):hover .icon {
    background: #24292f;
}

.social-button:nth-child(4):hover .icon {
    background: #e1306c;
}

.social-button:nth-child(5):hover .icon {
    background: #3b5998;
}

.social-button:nth-child(6):hover .icon {
    background: #26a7de;
}

.social-button .icon svg {
    transition: color 100ms ease-out;
}

.social-button:hover .icon svg {
    color: white;
}

.social-button:nth-child(1):hover .social-media {
    color: #0072b1;
}

.social-button:nth-child(2):hover .social-media {
    color: #4267b2;
}

.social-button:nth-child(3):hover .social-media {
    color: #24292f;
}

.social-button:nth-child(4):hover .social-media {
    color: #e1306c;
}

.social-button:nth-child(5):hover .social-media {
    color: #3b5998;
}

.social-button:nth-child(6):hover .social-media {
    color: #26a7de;
}

.social-button .social-media {
    transition: color 100ms ease-out;
}
