:root {
    --move-step: -4rem;
    --text-height: 4rem;
}

.text-scroller {
    height: var(--text-height);
}

.text-scroller > span {
    animation: slide 12s infinite;
}

.text-scroller > span > * {
    height: var(--text-height);
    padding: 5px 0;
    display: flex;
    align-items: center;
}


@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: calc(var(--move-step) * 1);
    }
    50% {
        top: calc(
            var(--move-step) * 2
        );
    }
    75% {
        top: calc(var(--move-step) * 3);
    }
    100% {
        top: calc(var(--move-step) * 4);
    }
}
