header {
    /* background-image: url("/public/stThomas.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; */
}

:root {
    --move-step: -3.8rem;
    --text-height: 4rem;
}

header p {
    box-sizing: border-box;
    /* border: solid red; */
    height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* opacity: 0; */
    background: -webkit-linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-scroller {
    height: var(--text-height);
}

.text-scroller > div {
    animation: slide 30s infinite;
}

@keyframes slide {
    0% {
        top: 0;
    }
    10% {
        top: calc(var(--move-step) * 1);
    }
    20% {
        top: calc(var(--move-step) * 2);
    }
    30% {
        top: calc(var(--move-step) * 3);
    }
    40% {
        top: calc(var(--move-step) * 4);
    }
    50% {
        top: calc(var(--move-step) * 5);
    }
    60% {
        top: calc(var(--move-step) * 6);
    }
    70% {
        top: calc(var(--move-step) * 7);
    }
    80% {
        top: calc(var(--move-step) * 8);
    }
    90% {
        top: calc(var(--move-step) * 9);
    }
    100% {
        top: calc(var(--move-step) * 10);
    }
}
